name: Test and analyze

on: [ push ]

jobs:
    pytests:
        strategy:
            matrix:
                python-version: ["3.8", "3.9", "3.10", "3.11"]
            fail-fast: false
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
            -   name: Set up Python ${{ matrix.python-version }}
                uses: actions/setup-python@v4
                with:
                    python-version: ${{ matrix.python-version }}
            -   name: Install dependencies
                run: |
                    python -m pip install -U pip tox
            -   name: pytest
                run: |
                    tox -e py

    Analysis:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
            -   name: Set up Python 3.11
                uses: actions/setup-python@v4
                with:
                    python-version: "3.11"
            -   name: Install dependencies
                run: |
                    python -m pip install -U pip tox
            -   name: analysis
                run: |
                    tox -e analysis
